* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Nanum Myeongjo', serif;
    background-image: url(./Imagens/galaxy-2150186.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: 90vw;
}

html {
    font-family: 'Nanum Myeongjo', serif;
}

@media screen and (max-width: 1024px) {
    header {
        font-family: 'Nanum Myeongjo', serif;
        background-image: url(./Imagens/galaxy-2150186.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35rem;
        width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    header {
        font-family: 'Nanum Myeongjo', serif;
        background-image: url(./Imagens/galaxy-2150186.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35rem;
        width: 100vw;
    }
}